.container-1,.container-2, .container-3, .container-4,.container-5{
    border: 1px solid #2c2c2c;
    margin: 20px auto;
    width: 75%;
    text-align: center;
}
.flex-box-container-1,.flex-box-container-2, .flex-box-rps, .flex-box-change-my-color,.flex-blackjack-row-1,.flex-blackjack-row-2,.flex-blackjack-row-3{
    display:flex;
    border: 1px solid #2c2c2c;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flex-blackjack-row-1,.flex-blackjack-row-2{
    background: url('https://media.istockphoto.com/photos/blue-poker-table-background-picture-id985909018?k=6&m=985909018&s=612x612&w=0&h=indGZCfSitJ3FZja8cMPd1wg0qjZ_jnNnsM1SspndYI=');
    color:#ffffffff;
}
.flex-blackjack-row-1 div{
    padding: 10px;
    height: 350px;
    flex: 1;
    text-align: center;
}
.flex-blackjack-row-1 img{
    width: 25%;
    padding: 10px;
}
.flex-blackjack-row-2 button{
    padding: 10px;
}
.flex-blackjack-row-2 div{
    padding: 10px;
}
table, th, td{
    padding: 10px;
}
.flex-box-container-1 div{
    align-items: center;
    display: flex;
    padding: 10px;
    /*border: 1px solid #2c2c2c;*/
    
}
.flex-box-container-2 img{
    width: 360px;
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.7);
}
.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(0, 89, 255, 0.7);
}